.AcademyContainer{
      display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  background: #F2F4FF;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    overflow-y: scroll;
}

.AcademyPageContainer{
        display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background-color: #F2F4FF;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 20;
    overflow-y: scroll;
}

.AcademyTitle{
    color: #003087;
    font-family:"canada-type-gibson";
    font-size: 26px;
    font-weight: 600;
    
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}

.AcademyArticleDate{
    color: #868787;
    font-family: "Poppins", sans-serif;
    font-size: 14px;

    text-align: center;
}

.AcademyArticleText{

    font-family: "Poppins", sans-serif;
    font-size: 14px;

    text-align: center;
}


.AcademyArticlePageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.AcademyItemContainer{
    height: auto;
    margin-top: 20px;
    border-color: #F2F4FF;
    border-width: 1px;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
    box-shadow: -7px 7px 2px rgba(128, 128, 128, 0.144);
    background-color: white;
}


.imageAcademyItem{
    width: 90%;
    height: 225px;
    border-width: 36px;
    padding-top: 20px;
}

.AcademyTextContainer{
    padding-left: 10%;
    padding-right: 10%;
}

.itemMoreText{
    text-decoration: underline;
    color: #3C74F3;
    font-size: 14px;
    font-family:"canada-type-gibson";
    text-align: left;
}

.ArticleNext{

    color: #3C74F3;
    font-size: 16px;
    font-family:"canada-type-gibson";
    text-align: right;
    padding-bottom: 25px;
}

.itemSubtitle{
    color: #535353;
    font-size: 12px;
    text-align: left;
        font-family: "Poppins", sans-serif;
        margin: 0px;
}

.itemTitle{
        color: black;
    font-family:"canada-type-gibson";
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}