.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subPageContainer{
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  flex-direction: column;
  z-index: 10;
}


.Title{
  font-size: 25px;
  font-weight: 700;
}

.GeneralInput{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 40px !important;
    background-color: white;
    border-color: #C6CACC;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-left: 5px;
}

.eyePassword{
    position: absolute;
    right: 10px;
    padding-top: 10px;
}

.headerSpacer{
  width: 100%;
  height: 50px;
}


.GeneralInput::placeholder{
  padding-left: 10px;
}



.underlineText{
  text-decoration: underline;
}

.GeneralButtonContainer{
  width: 80%;
}

.errorText{
      font-size: 14px;
    font-weight: 100;
    font-family: helvetica;
    color:rgb(238, 255, 0);
    text-align: start;
    margin: 0px;
    padding-top: 5px;
}

.GeneralButton{
  background-color: white;
  width: 100%;
  height: 45px;
  border-color: white;
  border-width: 0px;
  color: #0066A1;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}

.GeneralButton3{
  background-color: #0066A1;
  width: 100%;
  height: 45px;
  border-color: #0066A1;
  border-width: 0px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}


.GeneralButton4{
  background: linear-gradient(90deg,#0063ff 0%, #0095ff 100%);
  width: 100%;
  height: 45px;
  border-color: #008eff;
  border-width: 0px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}

.GeneralButton2{
    background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 45px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  text-align:center;
  line-height: 45px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  
}

.GeneralInputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.GeneralInputSubContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.Divider{
    background-color: rgba(128, 128, 128, 0.445);
    height: 1px;
    width: 75%;
}

.PopUp{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  
  height: 100vh;
  position: absolute;
  z-index: 100;
  box-shadow: 10px;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.144);
}

.PopUpDialog{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 80%;
  max-width: 500px;
  height: 200px;
  box-shadow: 10px;
  flex-flow: column;
  background-color: rgb(255, 255, 255);

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.PopUpText{
  font-size: 14px;
  
  font-family: "Poppins", sans-serif;
}

.PopUpTitle{
  font-size: 14px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}


