.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Title{
  font-size: 25px;
  font-weight: 700;
}

.PopUp{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  box-shadow: 10px;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.144);
}

.PopUpDialog{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 150px;
  box-shadow: 10px;
  flex-flow: column;
  background-color: rgb(155, 155, 155);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.PopUpText{

}

.PopUpButton{

}