.challenges-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  background: #0C5AB1;
    background: linear-gradient(180deg,rgba(12, 90, 177, 1) 0%, rgba(50, 134, 196, 1) 100%);
    overflow-y: scroll;
}

.participateText {
  padding-top: 20px;
  font-size: 20px;
}

.challenges-subpage-container {
  background-color: #f2f4f7;
  width: 90%;
  height: 100%;
  padding-top: 60px;
  position: absolute;
  display: flex;
  margin: 0px;
  top: 0px;
  flex-direction: column;
  z-index: 10;
}

.confirmation-subpage-container {
  background-color: #f2f4f7;
  width: 90%;
  height: 100%;
  padding-top: 60px;
  position: absolute;
  display: flex;
  margin: 0px;
  top: 0px;
  flex-direction: column;
  z-index: 10;
}

.challenge-header {
  padding-top: 0px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.challenge-header-title{
  font-size: 25px;
  font-weight: 700;
  color: white;
  font-size: larger;
  font-weight: 400;
}

.row {
  display: flex;
  gap: 10px;
}

.challenge-image-container {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #e0e9ed;
}

.challenge-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #2c3e50;
}

.challenge-text {
  font-size: 10px;
  text-align: start;
  margin: 0px;
  margin-bottom: 20px;
  color: grey;
  padding: 0 20px 0 20px;
  text-align: justify;
}

.challenge-information-text-title {
  font-size: 10px;
  font-weight: 500;
  text-align: start;
  margin: 0px;
  padding: 15px 15px 0 15px;
  margin-bottom: 5px;
  color: #0b1432;
}

.challenge-text-information{
  font-size: 10px;
  text-align: start;
  margin: 0px;
  color: #465679;
  padding: 0 15px 15px 15px;
  text-align: justify;
}

.participate-button {
  padding: 10px;
  margin: 25px 20px 0 20px;
  background-color: #008eff;
  color: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.participate-button:hover {
  background-color: #2980b9;
}

.url-input {
  height: 25px;
  width: 100%;
  max-width: 80%;
  margin: 0 0 15px 0;
  padding: 0 15px 0 15px;
  background-color: white;
  color:#0b1432;
  font-size: 10px;
  font-weight: 500;
  border: solid;
  border-color: rgb(175, 175, 175);
  border-width: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.url-input::placeholder{
  color:#0b1432;
  font-weight: 400;
  font-size: 10px;
}

.participation-information-holder{
  margin-top: 18px;
  margin-bottom: 10px;
}

.participation-information-text{
  font-size: 10px;
  text-align: start;
  color: grey;
  padding: 0 20px 0 20px;
  margin: 0 0 10px 0;
  text-align: justify;
}

.challenge-filter-button-container{
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: space-evenly;
}

.challenge-filter-title{
  color: white;
  font-size: small;
  margin-right: 10px;
}

.challenges-filter-container {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  position: absolute;
  top: 0;
  z-index: 11;
}

.challenges-filter {
  width: 50%;
  margin-left: 40%;
  margin-top: 30px;
  padding-bottom: 10%;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  z-index: 12;
}

.challenges-filter-title{
  color: black;
  font-weight: 500;
  font-size: small;
  text-align: left;
  padding-left: 10px;
}

.challenges-filter-picker{
  background-color: white;
  color: #20628d;
  width: 75%;
  height: 25%;
  font-size: small;
  text-align: left;
  border: #20628d solid 2px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.challenge-filter-icon{
  width: 10px;
  height: 10px;
  color: white;
}

.challenge-instructions-container{
  margin-left: 35px;
  margin-right: 35px;
}

.challenges-text{
  margin: 0;
  color: white;
  text-align: left;
  font-size: 10px;
}

.challenge-back-button-text{
    font-size: 12px;
    font-weight:500;
    color: black;
    margin: 30px 0 10px 0;
    text-align: left;
}

.challenge-information-container{
  background-color: white;
  margin: 0 0 2px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}