.challenges-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
}

.participateText {
  padding-top: 20px;
  font-size: 20px;
}

.challenges-subpage-container {
  background-color: white;
  width: 80%;
  height: 100%;
  padding-top: 80px;
  position: absolute;
  display: flex;
  margin: 0px;
  top: 0px;
  flex-direction: column;
  z-index: 10;
}

.confirmation-subpage-container {
  background-color: white;
  width: 80%;
  height: 100%;
  padding-top: 80px;
  position: absolute;
  display: flex;
  margin: 0px;
  top: 0px;
  flex-direction: column;
  z-index: 10;
}

.challenge-header {
  padding-top: 0px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
    display: flex;
    gap: 10px;
}

.challenge-image-container{
  width: 100%;
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: grey;
}

.challenge-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #2c3e50;
}

.url-title {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #296bae;
}

.challenge-text{
 font-size: 10px;
  text-align: start;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
}

.challenge-text-title{
  font-size: 12px;
  font-weight: bold;
  text-align: start;
  margin: 0px;
  margin-bottom: 5px;
  color: black;
}

.participate-button {
  width: 95%;
  padding: 10px;
  background-color: #20628d;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.participate-button:hover {
    background-color: #2980b9;
}

.url-input{
  width: 95%;
  height: 25%;
  padding: 10px;
  background-color: white;
  border: solid;
  border-color: rgb(175, 175, 175);
  border-radius: 5px;
  border-width: 1px;
  font-size: 12px;
  font-weight: 400;
  transition: background-color 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.url-input:hover {
  background-color: rgb(232, 232, 232);
  border-color: #2980b9;
}