.CodePageContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background-color: #f2f4ff;
    height: 100%;
    gap: 20px;
    width: 100%;
}

.CodeTitle{
    font-size: 24px;
    text-align: start;
    width: 90%;
    font-weight: 600;
    margin: 0px;
    margin-top: 40px;
    font-family:"canada-type-gibson";
    color: #003087;
        max-width: 1000px;
}

.CodeText{
    font-size: 14px;
    text-align: start;
    width: 90%;
    color: #868787;
    font-family: "Poppins", sans-serif;
    margin: 0px;
        max-width: 1000px;
}

@media (max-width: 407px) {
  .CodeText {
    width: 80%;
    padding-right: 5%;
  }
}

@media (max-width: 416px) {
  .CodeText {
    width: 75%;
    padding-right: 7.5%;
  }
}

@media (max-width: 361px) {
  .CodeText {
    width: 90%;
  }
}



.CodeInputContainer{
    width: 80%;
    display: flex;
    flex-flow: column;
    gap: 0px;
}

.CodeInputText{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-align: start;
    width: 80%;
    margin: 0px;
    margin-bottom: 10px;
}

.CodeButtonContainer{
    width: 80%;
}