.headerContainer {
  height: 50px;
  z-index: 100;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  align-content: center;
  align-items: center;
  background-color: grey;
  position: fixed;
}

.headerLogo {
  width: 40px;
  height: 30px;
}

.imageContainer {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: grey;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.listContainer {
  width: 80%;
  gap: 20px;
  display: flex;
  flex-flow: column;
}

.listItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-align: start;
}

.listItemTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.listItemSubtitle {
  font-size: 14px;
  margin: 0px;
}

.listItemDiamonds {
  font-size: 14px;
  margin: 0px;
}

.listChallengeStatus {
  font-size: 14px;
  margin: 0px;
}

.articleListContainer {
  width: 80%;
  gap: 20px;
  display: flex;
  flex-flow: column;
}

.articleImageContainer {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: grey;
}

.arrticleText {
  font-size: 14px;
  text-align: start;
  margin: 0px;
  margin-bottom: 5px;
}

.articleTitle {
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  margin: 0px;
}
.ArticleItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header-menu-container{
  position: absolute;
  z-index: 999;
  padding-top: 80px;
}

.header-menu{
  display: block;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.header-menu-element{
  text-align: right;
  padding-right: 5px;
  margin-left: 0;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 5px;
}

.header-menu-element:hover{
  background-color: aquamarine;
}