.background{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 1;
}

.backgroundSams1{
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 0px;
    right: 0px;
    width: 90%;
    display: flex;
    justify-content: center;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.backgroundLogo1{
        z-index: 1;
    position: absolute;
    bottom: -15%;
    left: -30%;

    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.backgroundContainer{
    position: absolute;
    z-index: 1;
    max-height: 100vh;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.samsLogoHeader{
    max-width: 400px;
    min-width: 300px;
    width: 80%;
}

.backgroundLogo2{
        z-index: 1;
    position: absolute;
    bottom: 25%;
    right: -40%;

    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}


.headerMenuBack{
    z-index: 2;
    top: 2%;
    color: white;
    left: 5%;
    font-family:"canada-type-gibson";
    font-size: 16px;
    font-weight: 400;
    position: absolute;
}


.headerMenuColumn{
    display: flex;
    flex-direction: column;
    left: 5%;
    position: absolute;
    top: 20%;
    z-index: 2;
    gap: 20px;
    overflow-y: scroll;
    height: 80%;
    padding-bottom: 100px;
    width: 100%;
}

.headerElement{
    z-index: 2;
    color: white;
    font-family:"canada-type-gibson";
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
}

.iconLogo{
    padding-right: 5px;
}