.LoginContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed; 
}

.LoginLogo{
    width: 180px;
}

.logoContainer{
    padding-top: 70px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    z-index: 2;
}


.createUserContainer{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 60px;
    align-items: center;
    align-content: center;
    z-index: 2;
}

.inputCreateUser{
    width: 100%;
}


.LoginMenuContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    align-content: center;
    z-index: 2;
    overflow-y:scroll;
    overflow-x: hidden;
}

.LoginMenuContainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.LoginMenuContainer::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
  background: transparent;
  border-radius: 0px;
  border: 0px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.LoginMenuContainer::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
  background: transparent;
}


.loginBottomText{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color:white;
    text-align: center;
    margin: 0px;
    
}

.checkBoxContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 15px;
    padding-bottom: 15px;
}

.checkBoxLogin{
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
}

.LoginMenuBottomContainer{
    height: 100%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-content: center;

    
}

.loginSubtitle{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    text-align: start;
    width: 100%;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

.loginTitle{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    text-align: start;
    color: white;
    font-size: 24px;
    width: 100%;
}

.loginHeaderContainer{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    height: 22px;
    padding-top: 32px;
    z-index: 2;
}

.loginHeaderText{
    font-size: 16px;
    color: white;
    margin: 0px;
}

.LoginLogoHeader{
    width: 132px;
    height: 22px;
}

.passwordContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.loginContainer{
       width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
}

.PasswordTextLogin{
    margin: 0px;
    margin-top: 30px;
    text-align: end;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    size: 14px;
    text-decoration: underline;
}


.forgetPasswordContainer{
    height: 100%;
    width: 80%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    align-content: center;
    z-index: 2;
}

.forgetPasswordSend{
    padding-top: 50%;
}

.textForgetPassword{
    margin: 0px;
    margin-bottom: 10px;
    text-align: end;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    size: 14px;
    text-align: start;
}

.passwordInput{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}


.loginHeader{
        margin: 0px;

    text-align: end;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    size: 16px;
    text-align: start;
    margin-bottom: 8px;
    
}

.socialMediaIcon{
    width: 33px;
    height: 33px;
    padding-top: 3px;
}

.createPageButtomContainer{
    padding-bottom: 20px;
}