.MainContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    padding-top: 50px;
}

.ArticlePage{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    padding-top: 50px
}

.ArticlePageContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    max-height: 100%;
    padding-top: 20px;
}

.articlePageNextArticle{
    position: absolute;
    bottom:  0px;
    right: 20px;
}

.UserNameText{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #003087;
}

.backgroundLogoLetters{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 400px;
    z-index: 0;
    background: linear-gradient(180deg,#0063ff 00%, #0095ff00 100%); 
}

.LogoLettersFade{
    width: 100%;
    opacity: 0.1;
}