.ProfileContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #F2F4FF;
}

.ProfileContainerItems{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 30px;
}


.ProfileTitle{
    color: #003087;
    font-size: 30px;
    font-weight: 600;
     font-family:"canada-type-gibson";
    padding-bottom: 4px;
}


.socialMediaContainer{
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 20px;
}

.socialMediaItem{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.userNameProfile{
    color: #0B204F;
    font-size: 14px;
    margin: 0px;
    font-family:"canada-type-gibson";
    padding-bottom: 30px;
}

.socialMediaTitle{
     font-family: "Poppins", sans-serif;
    width: 90%;
    color: #868787;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-top: 10px;
    text-align: start;
}

.ProfileItem{
    display: flex;
    flex-direction: row;
    height: 40px;
    width:80%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
    padding-top: 15px;
}

.backButton{
    position: absolute;
    left: 10vw;
    padding-top: 15px;
}

.imageProfilePic{
    width: 95%;
    height: 95%;
    padding-top: 3px;
    z-index: 2;

    opacity: 1;
}


.EditProfile{
    position: relative;
    right: -80px;
    top: -30px;
    z-index: 3;
    font-size: 10px;
    width: 60px;
    color: white;
    border-radius: 100px;
    background: linear-gradient(90deg,#0063ff 0%, #0095ff 100%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.editSocialMediaButtonContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.editSocialMediaButton{
    z-index: 3;
    font-size: 12px;
    color: #0095ff;
    width: 80px;
    padding: 3px;
    font-weight: 800;
    border-radius: 100px;
    background: white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.EditProfileHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
}

.EditProfileBackButton{
    position: absolute;
    left: 10vw;
    padding-top: 15px;
}

.profileRewardsText{
    margin: 0px;
    font-size: 14px;
    color: white;
}

.EditProfielBack{
    width: 100%;
    
    font-weight: 500;
    text-align: start;
}

.EditProfileContainer{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #F2F4FF;
    overflow-y: scroll;
}


.MyRewardsContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background-color: #F2F4FF;
}

.DiamondImage{
    width: 155px;
  object-fit: cover;
}

.DiamondContainer{
  position: relative;
  width: 80px;
  height: 125px;
  transform: rotate(45deg);
  border-radius: 15%;
  border: 3px solid white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}


.crossSocialMedia{
    position: absolute;
    
    padding-top: 15px;
}