.ProfileContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 50px;
}



.containerProfilePic{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 10000px;
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    -ms-border-radius: 10000px;
    -o-border-radius: 10000px;
}

.ProfileContainer{

}

.socialMediaContainer{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.socialMediaItem{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.userNameProfile{
    font-weight: 700;
    font-size: 18px;
    
}

.ProfileItem{
    display: flex;
    flex-direction: row;
    height: 40px;
    width:80%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
    border-style:solid none  solid none ;
    border-color: grey;
}

.backButton{
    margin: 0px;
    align-self: flex-start;
    text-align: start;
    padding-top: 20px;
    padding-left: 10%;
}

.imageProfilePic{
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 10000px;
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    -ms-border-radius: 10000px;
    -o-border-radius: 10000px;
}


.EditProfile{
    position: relative;
    right: -70px;
    top: -35px;
    z-index: 100;
}