.RewardsContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}

.ParticipateText{
    padding-top: 20px;
    font-size: 20px;
}

.rewardsSubpageContainer{
    width: 80%;
    height: 100%;
    padding-top: 80px;
}

.RewardButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.confirmationSubpageContainer{
    width: 80%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.informationRewardPageContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.infoText{
      font-size: 14px;
  font-weight: 500;
  text-align: start;
  margin: 0px;
  margin-bottom: 5px;
  color: #0b1432;
}
